*.pyc
*.so
.vscode
outputs
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
*client*
dataset
dataset_local
test
*egg-info*
__pycache__/
*.pyc
.clang-format
release/

